
@{
    ViewBag.Title = "Hoş Geldiniz";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/style1.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!----hero Section start---->

    <div class="hero">
        <nav>
            <h2 class="logo">Nur<span>hat</span></h2>
            <ul>
                <li><a href="#">ANA SAYFA</a></li>
                
            </ul>
            
        </nav>

        <div class="content">
            <h1 class="a">Merhaba Ben</h1>
            <h1 class="c">Nurhat <span>ACAR</span></h1>
            <h3>Ben Mobil geliştirici ve web geliştiriciyim</h3>
            <div class="newslatter">
                <form>
                   
                </form>
            </div>
        </div>
    </div>

    <!----About section start---->
    <section class="about">
        <div class="main">
            <img src="~/images/nurhat2.jpeg">
            <div class="about-text">
                <h2>Hakkımda</h2>
                <h5>Developer <span>& Designer</span></h5>
                <p>Ben bilgisayar programcılığı 2. sınıf öğrencisiyim. Mobil ve Web Geliştirmekle uğraşıyorum.</p>
                
            </div>
        </div>
    </section>

    <!-----service section start----------->
    <div class="service">
        <div class="title">
            <h2>Hizmetlerim</h2>
        </div>

        <div class="box">
            <div class="card">
                <i class="fas fa-bars"></i>
                <h5>Web Development</h5>
                <div class="pra">
                    <p>BLA BLA BLA</p>

                    <p style="text-align: center;">
                        <a class="button" href="#">devamı...</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <i class="far fa-user"></i>
                <h5>Mobil Development</h5>
                <div class="pra">
                    <p>BLA BLA BLA</p>

                    <p style="text-align: center;">
                        <a class="button" href="#">devamı...</a>
                    </p>
                </div>
            </div>

            <div class="card">
                <i class="far fa-bell"></i>
                <h5>Java Development</h5>
                <div class="pra">
                    <p>BLA BLA BLA</p>

                    <p style="text-align: center;">
                        <a class="button" href="#">devamı...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!------Contact Me------>
    <div class="contact-me">
        <p>BLA BLA BLA.</p>
        <a class="button-two" href="#">Hire Me</a>
    </div>

    <!------footer start--------->
    <footer>
        <p>Nurhat ACAR</p>
        
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
        </div>
        <p class="end">Site Sahibi Nurhat ACAR</p>
    </footer>
</body>

